body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
.blue-color {
  color: rgb(46, 34, 211);
}
.flexiable-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 40%;
  padding-right: 15%;
  padding-top: 5%;
  background-color: white;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner {
  background-image: url(Pictures/New\ Project-2.png);
  background-repeat: no-repeat;
}
.Dream-Big {
  background-image: url(pictures/top-banner.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 20px;
}
.experiance-area {
  background-image: url(pictures/New\ Project-2.png);
}
.experiance-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding-left: 5px;
  border-radius: 10px;
}
#web-dev-experiance {
  border-left: 7px solid;
  border-image: linear-gradient(blue cyan);
  border-image-slice: 1;
}
#full-stack-developer {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(14, 14, 238) rgb(9, 99, 99));
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
